.media-element {
  border: dotted 1px #FFF;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.media-element:focus,
.media-element:active  {
  border: dotted 1px #FF00FF;
}

/* .field-item,
   .field {
     border: dotted 1px #009933;
   }
*/

.media-image-right {
  float: right;
}

.media-image-left {
  float: left;
}

.leftspacer,
.rightspacer {
  position: absolute;
  width: 10px;
  background: #FEE;
  height: 100%;
  display: block;
  top: 0px;
  font-size: 1px;
  cursor: pointer;
}

.leftspacer {
  left: 0px;
}

.rightspacer {
  right: 0px;
}
