.media-element {
  border: dotted 1px #FFF;
  display: table-cell;
}
.media-element:focus,
.media-element:active  {
  border: dotted 1px #FF00FF;
}

/* .field-item,
   .field {
     border: dotted 1px #009933;
   }
*/

.media-image-right {
  float: right;
  display: block;
}

.media-image-left {
  float: left;
  display: block;
}
